h1{
    text-align: center;
}

.f{
    background-color: green;
    color: white;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

.l1{
    color: aqua;
}

.l2{
    text-decoration:line-through;
}